.brand{
  color: #ff4a00;
}
.index{

}
.center{
  margin-left: auto;
  margin-right: auto;
}

.index .carousel{
	/*margin-bottom: 30px;*/
}

.index .panel-heading{
	padding-bottom: 0;
}

.index .carousel-inner img{
	width: 100%;
}

/*login start*/
.login{
	height: 100%;
}
.login .form-signin,.register .form-signin{
  margin: 0 auto;
	max-width: 330px;
  padding: 15px;
} 

.login .site-wrapper, .register .form-signin {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
 /* -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}
.login .site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

/*product*/
.product{

}
.product .form-wrapper{
  width: 100%;
}

.product select{
  margin-bottom: 5px;
}

.product .panel-body img{
  width: 100%;
}

/*news*/
.news .carousel-inner img{
  width: 100%;
}